<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.xandone.ylayoutsample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".A"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".cons.ConstraintLayoutAct"
            android:screenOrientation="portrait" />

        <activity
            android:name=".coor.CoordinatorLayoutAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bar.AppbarAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scroller.ScrollerAct"
            android:screenOrientation="portrait" />

        <activity
            android:name=".scrollview.ObservableActviity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".anim.AnimActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".anim.TweenAnimActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".anim.PropertyAnimActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".anim.PathAnimActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bottomsheet.BottomSheetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bottomsheet.SheetAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bottomsheet.SheetDialogAct"
            android:screenOrientation="portrait" />
    </application>

</manifest>